.signle-rest{
    height: 350px !important;
}
.rest-image{
    width: 100%;
    height: 350px;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: brightness(0.95);
    transition: transform 0.4s ease-in-out 0s, opacity 1.63s ease 0s, filter 0.4s ease 0s;
}
.rest-details{
    margin-top: 15px;
}
.rest-title{
    font-size: 32px;
    color: #1c1c1c;
    font-weight: 500;
    line-height: 43px;
}
.rest-address, .rest-openTime{
    font-size: 16px;
    font-weight: 400;
    color: var(--subtitle-text);
    line-height: 24px;
}
.rest-details{
    display: flex;
    justify-content: space-between;
}
.rest-reviewsSection{
    display: flex;
    align-items: center;
}
.rest-rating{
    width: auto;
    padding: 3px 8px;
    font-size: 13px;
  font-weight: 600;
  color: var(--primary-bg);
  background-color: var(--tag-green);
  border-radius: 6px;
  height: 24px;
}
.rest-reviewsSection-title{
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-top: 4px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    height: 24px;
}
