@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import "./Component/style/CommonClasses.css";
@import "./Component/style/Variable.css";

body{
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
}
